<p id="notice"><%= notice %></p>

<p>
  <strong>Tên khách hàng:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Địa chỉ:</strong>
  <%= @order.diachi %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Số điện thoại:</strong>
  <%= @order.sdt %>
</p>

<p>
  <strong>Ghi chú:</strong>
  <%= @order.ghichu %>
</p>

<p>
  <strong>Đơn hàng của bạn:</strong>
    <%= render @order.line_items %>
</p


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
