<%= form_with(model: loai, local: true) do |form| %>
  <% if loai.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loai.errors.count, "error") %> prohibited this loai from being saved:</h2>

      <ul>
      <% loai.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :loaihang %>
    <%= form.text_field :loaihang %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
