<p id="notice"><%= notice %></p>

<h1>Loais</h1>

<table>
  <thead>
    <tr>
      <th>Loaihang</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loais.each do |loai| %>
      <tr>
        <td><%= loai.loaihang %></td>
        <td><%= link_to 'Show', loai %></td>
        <td><%= link_to 'Edit', edit_loai_path(loai) %></td>
        <td><%= link_to 'Destroy', loai, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loai', new_loai_path %>
